.mdLogo {
  margin: 1rem 0 0 0;
  max-width: 20%;
  cursor: pointer;
}
.xsLogo {
  margin: 0rem 0 0 0;
  max-width: 6rem;
  min-width: 6rem;
  cursor: pointer;
}

.xsLogoGrid {
  display: flex;
}

.themeSwitchGrid {
  display: flex;
  justify-content: flex-end;
}

.themeSwitchBackground {
  height: 35px;
  width: 35px;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.themeSwitch {
  height: 28px;
  width: auto;
  margin: auto;
}

.mdNavBar {
  max-width: 100%;
  flex-grow: 0;
  flex-basis: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 0px) {
  .mdLogo {
    display: none;
  }

  .mdNavBar {
    display: none;
  }

  .xsLogo {
    display: flex;
  }

  .xsLogoGrid {
    justify-content: center;
  }
}

@media only screen and (min-width: 900px) {
  .mdLogo {
    display: flex;
  }

  .mdNavBar {
    display: flex;
    justify-content: space-between;
  }

  .xsLogo {
    display: none;
  }
  .xsLogoGrid {
    margin-top: 3rem;
  }
}
