.carPaymentInfoGrid {
}

.carPaymentInfoCard {
}
.topMargin {
  margin: 5rem 0 0 0;
}

.shortSpecs {
  margin: 0.8rem 0;
}

.carPaymentActionCard {
  min-height: 200px;
  border-radius: 5px;
  padding: 2rem;
}

.carPrice {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
  box-shadow: 0px 1px rgba(46, 45, 45, 0.277);
}

.actionButton {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.buyInstructionsContainer {
  margin: 4rem 0;
  padding: 1rem;
}

.specsGrid1 {
  padding: 2rem 2rem 2rem 0;
}
.specsGrid2 {
  padding: 2rem 0rem 2rem 2rem;
}
@media only screen and (max-width: 900px) {
  .specsGrid1 {
    padding: 2rem 0rem 2rem 0;
  }
  .specsGrid2 {
    padding: 2rem 0rem 2rem 0rem;
  }
}
