.carPaymentInfoGrid {
  display: flex;
  justify-content: flex-end;
}

.carPaymentInfoCard {
}

.shortSpecs {
  margin: 0.8rem 0;
}

.carPaymentActionCard {
  min-height: 200px;
  border-radius: 5px;
  padding: 2rem;
}

.carPrice {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.5rem 0;
}

.actionButton {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
}
