.aboutGridItem {
  display: flex;
  justify-content: center;
}

.aboutContainer {
  height: 100%;
  width: 80%;
}

.aboutImage {
  max-width: 80%;
  height: fit-content;
}

.aboutGridContainer {
  margin: 4rem;
}

.aboutBody {
  padding: 2rem 0;
}

/* .financeGridContainer {
  display: flex;
  flex-direction: row-reverse;
  background-color: rebeccapurple;
} */
