.faqGridItem {
  display: flex;
  justify-content: center;
}

.faqContainer {
  height: 100%;
  width: 80%;
}

.faqImage {
  max-width: 80%;
  height: fit-content;
}

.faqGridContainer {
  margin: 4rem;
}

.faqBody {
  padding: 2rem 0;
}
