.bgContainer {
  height: 65vh;
  background-image: url("/images/A-STAR-CAR-HERO.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.searchBarPadding {
  /* background-color: red; */
  height: 60%;
}

.searchBar {
  height: 40%;
  display: flex;
  justify-content: center;
  /* background-color: green; */
}

.featureGrid {
  margin-top: 6rem;
}

.featureText {
  text-align: center;
}

.featureImageContainer {
  display: flex;
  justify-content: center;
}

.featureImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.subBanner {
  position: relative;
  top: -60px;
  margin-top: 12rem;
  height: 40vh;
  background: url("/images/a-star-car-sales-sub-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.carDisplayContainer {
  padding-top: 6rem;
}
