.bgContainer {
  height: 65vh;
  background-image: url("/images/A-STAR-CAR-HERO.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.searchBarPadding {
  /* background-color: red; */
  height: 60%;
}

.searchBar {
  height: 40%;
  display: flex;
  justify-content: center;
  /* background-color: green; */
}

.featureGrid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.featureHeader {
  text-align: center;
}

.featureImage {
  width: 100%;
}
